Someone asked for password reset for email {{ email }}. 
Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
If it wasn't you, please ignore this email. 

Thanks for using JustForMagic!!!! :)

<!-- El texto que se escribe en el subject del email está en el doc
password_reset_subject.txt -->

<!-- # Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Password reset on 127.0.0.1:8000
From: webmaster@localhost
To: espe1@example.com
Date: Tue, 24 Mar 2020 02:39:17 -0000
Message-ID: <158501755711.12005.16351736066814344995@Espes-III.local>

You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8000.
Please go to the following page and choose a new password:
http://127.0.0.1:8000/accounts/reset/MQ/5f2-036483efeeef72fb6ca6/

Your username, in case you've forgotten: espe1

Thanks for using our site!

The 127.0.0.1:8000 team -->


<!-- AFTER ADDING THE CODE ABOVE
Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Password reset on 127.0.0.1:8000
From: webmaster@localhost
To: espe1@example.com
Date: Tue, 24 Mar 2020 02:46:42 -0000
Message-ID: <158501800250.12005.13240875572770275479@Espes-III.local>

Someone asked for password reset for email espe1@example.com. 
Follow the link below:
http://127.0.0.1:8000/accounts/reset/MQ/5f2-036483efeeef72fb6ca6/ -->